/*Desenvolvedores: Adryan Welke da Silva | Felipe Rovigatti Delfino | Igor Henrique de Abreu*/

.bg-dark p-4{
    background-color: white;
}

.botoesnavbar {
    display: flex;
}

.bgimage img{
    max-height: 400px;
    max-width: 100%;
    width: 100%;
    border-top: 2px solid #D18096;
    border-bottom: 2px solid whitesmoke;
}

.header {
    display: block;
    float: left;
    flex: 1;
}

    .header button{
        border: none;
        background-color:#E899C6;
        margin-left: 20px;
        border-bottom: 1px solid #D18096;
    }
        .header button a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

#porq {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#textoporq{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    word-wrap: break-word;
}

#textoporq2{
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.favfather{
    background-color: #FFE6E5;
    height: 400px;
    border-top: 1px solid #e9c7c6;
}

.favs {
    display: flex;
    max-width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

    .bolos {
        max-width: 250px;
        height: fit-content;
        border-radius: 4%;
        border: 1px solid #e9c7c6;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .bolos img{
        border: 1px solid black;
        border-radius: 7%;
    }

    .bolos button{
        border: 1px groove black;
        border-radius: 6%;
        background-color: white;
    }
    
    .bolos button a{
        text-decoration: none;
        color: black;
    }


.catg{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 200px;
    position: relative;
}
    .catg hr{
        position: absolute;
        bottom: 0;
    }


    
footer {
    background-color: #D18096;
    border-top: 1px solid #c97289;
    height: 130px;
}

    .footerlinks{
        max-width: 1100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .separador {
        max-width: 100%;
    }

        .separadorlinks {
            max-width: 120px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }

        .separadorlinks a{
            color: white;
            text-decoration: none;
            font-size: 19px;
        }

p.pfoot{
    text-align: center;
    color: rgb(63, 63, 63);
}



/* SEÇÃO CARDAPIO SEÇÃO CARDAPIO SEÇÃO CARDAPIO */
div.cardapioflp{
    background-color: whitesmoke;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 2%;
}


.wrapall{
    max-width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px groove black;
    border-bottom: 1px groove black;
   }
    .containercardap{
        display: flex;
        overflow-wrap:normal;
        max-width: 1100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

        .produtos{
            margin-top: 10px;
            width: 250px;
            height: fit-content;
            border-radius: 4%;
            border: 1px solid black;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            background-color: white;
        }

button.fav{
    border: none;
}
