div.head{
    border-top: 38px solid greenyellow;
    border-bottom: 2px solid #ebeced ;
}

#porq {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#textoporq{
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    word-wrap: break-word;
}

#navbar {
    background-color: white;
}

#textonavbar {
    color: black;
}

.bg-dark p-4{
    background-color: white;
}

#botaonavbar {
    background-color: white;
    border: 1 solid black;
}

.botoesnavbar{
    display: block;
    float:none;
}